package {{.AllLower}}

import (
)

type (
	Data{{.Camel}}Adapter interface {}

	Manager{{.Camel}} struct {
		data{{.Camel}} Data{{.Camel}}Adapter
	}
)

func NewManager{{.Camel}}(c{{.Abbr}} Data{{.Camel}}Adapter) *Manager{{.Camel}} {
	return &Manager{{.Camel}}{data{{.Camel}}: c{{.Abbr}}}
}
