package storage

import (
	"log"

	"{{.ProjectPath}}/config"
	"gorm.io/driver/{{.SQLProviderLower}}"
	"gorm.io/gorm"
	"gorm.io/gorm/schema"
)

var GormDB *gorm.DB

func init() {
	if config.StorageSQL {
		connectionStr := Get{{.SQLProviderConnection}}()
		var err error
		GormDB, err = gorm.Open({{.SQLProviderLower}}.Open(connectionStr), &gorm.Config{NamingStrategy: schema.NamingStrategy{SingularTable: true}})
		if err != nil {
			log.Panicln("Could not connect with connection string:", connectionStr)
		}
	}
}
