package {{.AllLower}}

import (
	"context"

	ae "{{.ProjectPath}}/internal/api_error"
	stor "{{.ProjectPath}}/internal/storage"
	"go.mongodb.org/mongo-driver/bson"
	"go.mongodb.org/mongo-driver/mongo"
)

type (
	Mongo{{.Camel}} struct {
		DB *mongo.Client
	}
)

func InitMongo() *Mongo{{.Camel}} {
	db := stor.MongoInit()
	return &Mongo{{.Camel}}{DB: db}
}

func (d *Mongo{{.Camel}}) Read({{.Abbr}} *{{.Camel}}) error {
	return nil
}

func (d *Mongo{{.Camel}}) ReadAll({{.Abbr}} *[]{{.Camel}}) error {
	return nil
}

func (d *Mongo{{.Camel}}) Create({{.Abbr}} *{{.Camel}}) error {
	return nil
}

func (d *Mongo{{.Camel}}) Update({{.Abbr}} *{{.Camel}}) error {
	return nil
}

func (d *Mongo{{.Camel}}) Delete({{.Abbr}} *{{.Camel}}) error {
	return nil
}
